@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --color-brand-50: #faf7f3;
  --color-brand-100: #f3ede3;
  --color-brand-200: #e6d5c3;
  --color-brand-300: #e5894a;
  --color-brand-400: #c55a28;
  --color-brand-500: #a92d03;
  --color-brand-600: #87260c;
  --color-brand-650: #843c0c;
  --color-brand-700: #6f2009;
  --color-brand-800: #581908;
  --color-brand-900: #421305;
  --color-brand-950: #2c0d03;

  --color-sage-900: #0b331b;

  --color-neutral-50: #f9f6f1;
  --color-neutral-100: #f1ece4;
  --color-neutral-200: #e8e0d4;
  --color-neutral-300: #d5c6b3;
  --color-neutral-400: #bba795;
  --color-neutral-500: #a08978;
  --color-neutral-600: #86705f;
  --color-neutral-700: #6b594b;
  --color-neutral-800: #4e3f35;
  --color-neutral-900: #332923;
  --color-neutral-950: #1f1813;

  --background-image-jerusalem: url("title-image.png");
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --brand-600: #953c04;
}

/* css for tabulator.js */
.tabulator-responsive-collapse td {
  @apply break-words whitespace-normal max-w-full;
  @apply align-top;
  @apply text-xs;
}

.tabulator-responsive-collapse a {
  @apply break-all;
}

/* background color of all headers */
.tabulator .tabulator-header {
  @apply bg-brand-100 text-brand-800;
}

/* background, font, text size of each header column */
.tabulator .tabulator-col-content {
  @apply bg-brand-100 text-brand-800 font-semibold text-base;
}

/* Ensure header filter inputs match the styling */
.tabulator .tabulator-header-filter input {
  @apply bg-white text-gray-700 border-neutral-300 px-2 py-1 rounded-sm;
}

/* sorting arrow color */
.tabulator .tabulator-col-sorter .tabulator-arrow {
  @apply text-brand-800;
}

@media (min-width: 640px) {
  .tabulator .tabulator-row:nth-child(even) {
    @apply bg-brand-50;
  }
  .tabulator .tabulator-cell {
    @apply border-l;
  }
}
/* Apply styles only for small screens (Mobile: <640px) */
@media (max-width: 639px) {
  .tabulator .tabulator-cell {
    @apply font-semibold text-brand-800 bg-brand-50;
  }
}

/* Algolia */

/* Hits */

.ais-Hits-list {
  @apply md:space-y-4 space-y-2;
}

.ais-Hits-item {
  @apply border-l-2 border-brand-600 hover:bg-brand-50 rounded-md shadow-xs;
}

/* Base Pagination List */

.ais-Pagination-list {
  @apply flex-wrap items-center justify-center gap-1 my-4;
}

/* All Pagination Items */
.ais-Pagination-item {
  @apply items-center justify-center;
}

/* Pagination Links */
.ais-Pagination-link {
  @apply h-8 w-8 items-center justify-center rounded-md text-sm;
}
/* Range Input Widget Styles */
.ais-RangeInput {
  @apply p-2;
}

.ais-RangeInput-form {
  @apply flex items-center gap-2;
}

.ais-RangeInput-input {
  @apply w-1/3 px-3 py-2 border rounded-md;
}
.ais-RangeInput-submit {
  @apply w-1/4 px-4 py-2 text-black rounded-md;
}

.arrow {
  @apply text-gray-600 transition-transform duration-200;
}
.arrow.rotate-90 {
  @apply transform rotate-90;
}

/*current refinements make more prominent */

/* specify with the selector */
.ais-CurrentRefinements .ais-CurrentRefinements-item {
  @apply bg-brand-500 text-brand-50 border border-brand-600 rounded-md;
}

.ais-CurrentRefinements-category .ais-CurrentRefinements-delete {
  @apply text-brand-50 hover:font-bold;
}

.ais-RefinementList .ais-SearchBox-input,
.ais-HierarchicalMenu .ais-SearchBox-input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md text-sm;
  @apply focus:outline-none focus:ring-2 focus:ring-brand-400 focus:border-transparent;
}

/* 1. Remove Algolia’s default arrow (they use borders) */
.ais-HierarchicalMenu-link::before {
  content: none !important;
}
