---
import PageLayout from "../layouts/page-layout.astro";

---

<PageLayout>
    <div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div class="prose max-w-screen-md">
			<h1 class="text-2xl font-semibold">About the Project</h1>
            <p>This project examines the medieval reception and interpretation of the Roman conquest of Jerusalem in 70 AD by the emperors Titus and Vespasian, which ended a Jewish revolt and destroyed the Jewish Temple. This momentous episode was reported in numerous medieval texts of diverse nature, purpose and genre, including chronicles, anti-Jewish treatises, biblical commentaries and collections of sermons. Focusing on Latin texts and applying a discourse analysis, the project examines the use of the episode from the post-Roman world and early monastic exegetes (c.600) to the crusade movement and the University of Paris (c.1200). </p>
            <p>The objective of the project is to identify where, when and how the event occurs in Latin texts belonging to one of four genres introduced above. The project straddles both digitized source materials and unedited texts in medieval manuscripts . All the occurrences of the event, alongside further useful information, will be entered into a relational database and will be published eventually via the research data repository ARCHE run by the ACDH-CH as well as made available on its own website, to permit a user-friendly exploitation.</p>
            <p>The project is led by <a class="underline underline-offset-4 hover:font-semibold transition" href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/mitarbeiterinnen/alexander-marx">Alexander Marx</a> at the Institute for Medieval Research (<a class="underline underline-offset-4 hover:font-semibold transition" href="https://www.oeaw.ac.at/en/imafo/home">IMAFO</a>) of the Austrian Academy of Sciences and funded by FWF ESPRIT. The <a class="underline underline-offset-4 hover:font-semibold transition" href="https://www.oeaw.ac.at/acdh/acdh-ch-home">ACDH-CH</a> is responsible for data modelling, data managing, data archiving and for developing the database as well as the web application. </p>
		</div>
	</div>
</PageLayout>