---
import SearchPanel from "@/components/search/search-panel.svelte"
import PageLayout from "@/layouts/page-layout.astro"
import Graph from "@/components/visualisations/passage-tree-d3.astro"
---
<PageLayout title="Dashboard">
    <div class="grid grid-cols-[1fr_4fr]">
        <SearchPanel client:only="svelte"></SearchPanel>
        <Graph></Graph>
    </div>
</PageLayout>