---
import PageLayout from "../layouts/page-layout.astro";

const url = "https://imprint.acdh.oeaw.ac.at/23082";
const response = await fetch(url);
const data = await response.text();
---

<PageLayout title="Imprint">
	<div class="mx-auto w-full max-w-(--breakpoint-xl) px-16">
		<div class="prose max-w-(--breakpoint-md)">
			<h2>Imprint</h2>
			<div set:html={data} />
		</div>
	</div>
</PageLayout>