---
import PageLayout from "@/layouts/page-layout.astro";
import IndexCard from "@/components/ui/index-card.astro"
import NavLink from "@/components/nav-link.astro";
import cardImage1 from "/public/assets/images/detail1.png";
import cardImage2 from "/public/assets/images/detail2.png";
import cardImage3 from "/public/assets/images/detail3.png";
import cardImage4 from "/public/assets/images/detail4.png";
---

<PageLayout title="Home">
  <div
    class="grid gap-4 mx-auto h-full py-8 lg:pt-25"
  >
    <div class="max-w-5xl mx-auto hidden lg:grid text-center gap-6 lg:gap-10">     
        <h1 class="text-4xl font-semibold text-brand-700">
          Medieval Reception of the Roman Conquest of Jerusalem
        </h1>
          <span
            class="text-2xl italic text-brand-500 text-center"
          >
            The Roman conquest of Jerusalem in 70 AD: Reception, use, and
            interpretation in the Middle Ages (c.600-c.1200)
          </span>
        
          <p class="hidden lg:block text-brand-100 lg:text-brand-800 px-3 lg:px-0">
            The project explores the medieval reception and interpretation of the
            Roman conquest of Jerusalem in 70 AD, examining its presence in
            chronicles, anti-Jewish treatises, sermon collections, and biblical
            commentaries.
          </p>
    </div>
    <div class="mx-auto max-w-9/12 grid 2xl:grid-cols-4 grid-cols-2 gap-5 justify-items-center pb-3">
        <IndexCard 
          image={cardImage1} 
          title="Data" 
          url={"/data"} 
          icon="lucide:table"
          summary="Explore, sort and filter each dataset in an interactive table."/>
        <IndexCard 
          image={cardImage2} 
          title="Search" 
          url={"/advanced-search"} 
          icon="lucide:search"
          summary="Use the faceted search to quickly refine results or use the the linguistic search .">
        </IndexCard>
         <IndexCard 
          image={cardImage3} 
          title="Tools" 
          url={"/tools"} 
          icon="lucide:hammer"
          summary="Explore the data using a range of tools for analysis and visualisation.">
        </IndexCard>
         <IndexCard 
          image={cardImage4} 
          title="About" 
          url={"/about/project"} 
          icon="lucide:info"
          summary="Read more about the project, its technical implementation or check the FAQs.">
        </IndexCard>
       
    </div>   
  </div>
</PageLayout>
