---
import PageLayout from "@/layouts/page-layout.astro";
import TableHead from "@/components/table-head.astro";
import TabulatorTable from "@/components/tabulator-table.jsx";
import { manuscriptsTableConfig } from "@/lib/tabulator-table-configs.js";
import manuscriptsjson from "@/content/data/manuscripts.json";

import LeafletMap from "@/components/map-leaflet.jsx";
import { processMss } from "@/lib/make-geojson.js";
const geoJsonData = processMss(manuscriptsjson);

// Transform data and prepare columns for Tabulator Table
const manuscripts = Object.values(manuscriptsjson);
const tableData = manuscriptsTableConfig.transformData(manuscripts);
const columns = manuscriptsTableConfig.getColumns();
const rowClickConfig = manuscriptsTableConfig.getRowClickConfig;
---

<PageLayout title="Manuscripts">
  <TableHead title="Manuscripts">
      <details name="extraPanel">
      <summary
        class="rounded-md py-2 px-4 bg-brand-400 text-brand-100 hover:bg-brand-700 hover:text-brand-50 transition cursor-pointer mb-4 select-none"
      >
        Manuscripts Map
      </summary>

      {
        tableData && tableData.length > 0 ? (
          <LeafletMap client:only="react" geoJsonData={geoJsonData} />
        ) : (
          <div class="p-4 text-center text-gray-500 border border-gray-200 rounded-md">
            No data available for map visualization
          </div>
        )
      }
    </details>
    <TabulatorTable
      client:only="react"
      data={tableData}
      columns={columns}
      tableId="manuscripts-table"
      options={{
        paginationSize: 25,
        initialSort:[{ column: "settlement", dir: "asc" }],
      }}
      downloadTitle="jad_manuscripts"
      rowClickConfig={rowClickConfig}
    />
  </TableHead>
</PageLayout>
