---
import PageLayout from "../layouts/page-layout.astro";
import { getCollection } from "astro:content"
import MsCard from "@components/ms-card.astro";
const collection = await getCollection("manuscripts")

// make a function to read the collection; 'export' make the function available for Astro'S static site generation. 

export async function getStaticPaths() {
    // 1) Use getCollection to fetch the json file
    const mss = await getCollection("manuscripts")
    return mss.map(entry => {
        return { params: {id: entry.id},
                props: {data: entry.data}}
   })
}

---

<PageLayout>
    <div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div>
			<h1 class="text-2xl font-semibold text-brandBrown">Manuscripts</h1>
           
            <ul class="m-auto grid grid-cols-[repeat(auto-fill,minmax(270px,1fr))] gap-8 px-5 py-3 sm:px-16 sm:py-10"
		>
                {collection.map((manuscript) => {
                    return (
                        <li>
                            <MsCard manuscript={manuscript}/>

                        {/* 'data' comes from Astro - adds a new data layer during the processing. Still funny how entry.id works, without entry.data.id ?? */}
                            {/* {entry.data.name[0].value}                             */}
                        </li>)
                })}
            </ul>            
		</div>
	</div>
</PageLayout>