---
import PageLayout from "../layouts/page-layout.astro";
import passages from "../content/data/passages.json";


const passageValues = Object.values(passages);

---

<PageLayout>
    <div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div>
			<h1 class="text-2xl font-semibold text-brandBrown py-4">Passages / Occurrences</h1>
        <ul>
          {Object.values(passageValues).map((passage) => (
            <li>
               <a href=`passages/${passage.jad_id}` class="hover:text-brandRed font-medium">({passage.jad_id.substring(15)}) <span class="italic">{passage.passage}</span></a>
              </li>
          ))}
        </ul>          
		</div>
        
	</div>
</PageLayout>