---
import PageLayout from "../layouts/page-layout.astro";
import { getCollection } from "astro:content"
const collection = await getCollection("passages")

let sortedPassages = collection.sort((a, b) => {
  // Convert the substring to a number and compare
  return parseInt(a.data.jad_id.substring(15)) - parseInt(b.data.jad_id.substring(15));
});

---

<PageLayout>
    <div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div>
			<h1 class="text-2xl font-semibold text-brandBrown py-4">Passages / Occurrences</h1>

           <ul>
              
                {sortedPassages.map((passage) => {
                    return (
                        <li class="list-disc">                     
                           <a href=`passages/${passage.data.jad_id}` class="hover:text-brandRed font-medium">({passage.data.jad_id.substring(15)}) <span class="italic">{passage.data.passage}</span></a>                                                        
                        </li>)
                })}
            </ul>           
		</div>
        
	</div>
</PageLayout>