---
import PageLayout from "@/layouts/page-layout.astro";
import NetworkAll from "@/components/network-all.astro";
---

<PageLayout title="Passages Network">
  <div class="p-10">
    <h2 class="text-3xl font-bold mb-5">Passages Network</h2>
    <NetworkAll />
  </div>
</PageLayout>
