---
import PageLayout from "../layouts/page-layout.astro";

import {createTypesenseClient} from "../lib/create-typesense-client";

const client = createTypesenseClient();

// set search parameters
const result = await client.collections('JAD-temp').documents().search({q: "", query_by:"title"}) 


---

<PageLayout>
    <div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div class="max-w-screen-md grid gap-4">
			
      <form role="search" data-search-form>
        <label>
          <div class="sr-only">Search</div>
          <input data-search-input type="search" name="query" placeholder="Search passages ..." class="textfield border py-2 px-4 rounded-sm focus:border-brandBrown">
        </label>

        <button type="submit">Search</button>
      </form>

      <section class="border">
        <h2>Results:</h2>
        <ul data-search-result></ul>
      </section>
		</div>
	</div>

</PageLayout>

<script>
import { Client } from "typesense";

  const searchForm = document.querySelector("form[data-search-form]");

  searchForm?.addEventListener("submit", event => {
    event.preventDefault();
    
    const formData = new FormData(event.currentTarget)
    const q = formData.get("query")
    
    /* //Ask Stefan WHY NOT USE THIS?
    const query = document.querySelector("input[data-search-input]")
    */
   
    // TODO:
    // read the users' input 
    console.log(q) 
    // pass this to typesense using the client
    
    // get back the info - passages in the section ul

  })

  const results = document.querySelector("ul[data-search-result]") // <ul>
</script>