---
import PageLayout from "@/layouts/page-layout.astro";
import Article from "@/components/article-wide.astro";
import AsideSearch from "@/components/aside-search.svelte";
---

<PageLayout title=`text comparisons`>
     
<div class="grid grid-cols-[16rem_1fr]  md:gap-2">
    <div class="hidden md:block">
      <AsideSearch client:only="svelte" comparison={true} />
    </div>
    <Article mainTitle= {`Text Comparisons for Passages`}>
      <p class="text-sm text-neutral-700 mb-4">This page shows the text of a passage and its sources and derivatives, as recorded in the database. In the left sidebar, you can search for passages by author or work title. </p>
   
    </Article>
</PageLayout>