---
import PageLayout from "@/layouts/page-layout.astro";
import TableHead from "@/components/table-head.astro";
import TabulatorTable from "@/components/tabulator-table.jsx";
import { worksTableConfig } from "@/lib/tabulator-table-configs.js";
import worksjson from "@/content/data/works.json";

import LeafletMap from "@/components/map-leaflet.jsx";
import { processWorks } from "@/lib/make-geojson.js";
const geoJsonData = processWorks(worksjson);

// Transform data and prepare columns for Tabulator Table
const works = Object.values(worksjson);
const tableData = worksTableConfig.transformData(works);
const columns = worksTableConfig.getColumns();
const rowClickConfig = worksTableConfig.getRowClickConfig;
---

<PageLayout title="Works">
  <TableHead title="Works">
    <details name="extraPanel">
      <summary
        class="rounded-md py-2 px-4 bg-brand-400 text-brand-100 hover:bg-brand-700 hover:text-brand-50 transition cursor-pointer mb-4 select-none"
      >
        Authors Map
      </summary>

      {
        tableData && tableData.length > 0 ? (
          <LeafletMap client:only="react" geoJsonData={geoJsonData} />
        ) : (
          <div class="p-4 text-center text-gray-500 border border-gray-200 rounded-md">
            No data available for map visualization
          </div>
        )
      }
    </details>
    <TabulatorTable
      client:only="react"
      data={tableData}
      columns={columns}
      tableId="works-table"
      options={{
        paginationSize: 25,
        responsiveLayout: "collapse",
        initialSort: [{ column: "title", dir: "asc" }],
      }}
      downloadTitle="jad_works"
      rowClickConfig={rowClickConfig}
    />
  </TableHead>
</PageLayout>
