 <div>     
    <aside
      class="min-h-full "
      >
      <h2 class="text-xl font-bold text-brand-800 text-center py-2">Select passage</h2>
          <div id="searchbox" data-hit-base-path="/text-comparisons" aria-label="Search in the text of all passages" class="py-3"></div>
          <section id="refinements-section">
            <section class="px-3 py-2 border border-neutral-300 rounded m-2 bg-white">
              <h3 class="text-base text-brand-800 px-2 py-1">Search for authors</h2>
              <div id="refinement-list-author"></div>
            </section>
             
             <section class="px-3 py-2 border border-neutral-300 rounded m-2 bg-white">
              <h3 class="text-base text-brand-800 px-2 py-1">Search for works</h2>
              <div id="refinement-list-work" class="px-1"></div>
            </section>
          </section>
          <section>
            <div id="hits" class="px-4 overflow-y-auto"></div>
          </section>
    </aside>
  </div>