---
import { Icon } from "astro-icon/components";
---

<div class="hidden gap-3 md:flex py-10">
	<button
		class="border border-brandBrown rounded-md py-2 px-4 bg-brandBrown text-brandRose hover:bg-brandRose hover:text-brandBrown transition"
		id="download-csv"
		>CSV <Icon
			aria-hidden="true"
			name="lucide:download"
			class="inline-flex"
		/></button
	>
	<button
		class="border border-brandBrown rounded-md py-2 px-4 bg-brandBrown text-brandRose hover:bg-brandRose hover:text-brandBrown transition"
		id="download-json"
		>JSON <Icon
			aria-hidden="true"
			name="lucide:download"
			class="inline-flex"
		/></button
	>
	<button
		class="border border-brandBrown rounded-md py-2 px-4 bg-brandBrown text-brandRose hover:bg-brandRose hover:text-brandBrown transition"
		id="download-html"
		>HTML <Icon
			aria-hidden="true"
			name="lucide:download"
			class="inline-flex"
		/></button
	>
</div>
