---
import { Icon } from "astro-icon/components";
---

<footer class="bg-brandRose text-brandBrown">
    <div
        class="mx-auto grid w-full max-w-screen-lg gap-y-6 px-4 py-12 text-[#444]"
    >
        <div
            class="flex w-full items-center gap-x-1.5 border-b border-[#00000026] pb-4"
        >
            <Icon
                aria-hidden="true"
                class="size-4.5"
                name="lucide:message-circle"
            />
            <span class="text-sm font-medium">Contact:</span>
        </div>

        <div
            class="grid grid-cols-[auto_1fr] items-start gap-x-8 gap-y-6 md:grid-cols-[auto_1fr_auto_1fr]"
        >
            <div>
                <a
                    class="inline-flex py-1"
                    href="https://www.oeaw.ac.at/en/imafo/home"
                >
                    <!--  <img
                        alt=""
                        class="w-16 h-auto"
                        loading="lazy"
                        src="assets/images/imafo_logo_kurz.png"
                    /> -->
                    <span class="sr-only">Institute for Medieval Research</span>
                </a>
            </div>
            <div class="grid gap-y-2">
                <div class="font-medium">
                    Medieval Reception of the Roman Conquest of Jerusalem (<a
                        href="https://www.fwf.ac.at/forschungsradar/10.55776/ESP678"
                        class="underline decoration-dotted underline-offset-4 hover:no-underline"
                        >ESP 678</a
                    >)
                </div>
                <div>Dr. Alexander Marx</div>
                <div>
                    Institute for Medieval Research
                    <br />
                    Austrian Academy of Sciences
                </div>
                <div>
                    <div>
                        Dominikanerbastei 16 (Entrance Wiesingerstraße 4)
                        <br />
                        1010 Vienna
                    </div>
                </div>
                <div>
                    <div>
                        E:
                        <a
                            class="underline decoration-dotted underline-offset-4 hover:no-underline"
                            href="mailto:imafo.office@oeaw.ac.at"
                        >
                            imafo@oeaw.ac.at
                        </a>
                    </div>
                </div>
            </div>

            <div></div>
            <!--  <div class="grid gap-y-8">
                <img
                    alt=""
                    class="h-16 w-auto"
                    loading="lazy"
                    src="assets/images/oeaw-logo.png"
                />
                <img
                    alt=""
                    class="h-10 w-auto"
                    loading="lazy"
                    src="assets/images/fwf-logo.png"
                />
            </div> -->
        </div>

        <div
            class="grid grid-cols-[auto_1fr] items-start gap-x-8 gap-y-6 md:grid-cols-[auto_1fr_auto_1fr]"
        >
            <div>
                <a class="inline-flex py-1" href="https://www.oeaw.ac.at/acdh/">
                    <!--  <img
                        alt=""
                        class="size-16"
                        loading="lazy"
                        src="assets/images/acdh-ch-logo-light.svg"
                    /> -->
                    <span class="sr-only">ACDH-CH</span>
                </a>
            </div>
            <div class="grid gap-y-2">
                <div class="font-medium">Technical implementation: ACDH-CH</div>
                <div>
                    Austrian Centre for Digital Humanities and Cultural Heritage
                    <br />
                    Austrian Academy of Sciences
                </div>
                <div>
                    <div>Bäckerstraße 13, 1010 Wien</div>
                </div>
                <div>
                    <div>
                        T:
                        <a
                            class="underline decoration-dotted underline-offset-4 hover:no-underline"
                            href="tel:+43 1 51581-2200"
                        >
                            +43 1 51581-2200
                        </a>
                    </div>
                    <div>
                        E:
                        <a
                            class="underline decoration-dotted underline-offset-4 hover:no-underline"
                            href="mailto:acdh-ch@oeaw.ac.at"
                            >acdh-ch@oeaw.ac.at</a
                        >
                    </div>
                </div>
            </div>

            <div></div>
            <div class="grid gap-y-2">
                <div class="font-medium">Helpdesk</div>
                <div>
                    ACDH-CH runs a helpdesk offering advice for questions
                    related to various digital humanities topics.
                </div>
                <div>
                    <a
                        class="underline decoration-dotted underline-offset-4 hover:no-underline"
                        href="mailto:acdh-ch-helpdesk@oeaw.ac.at">Contact</a
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center p-3 bg-brandBrown text-brandPaleWhite">
        <p>
            © Copyright OEAW | <a
                class="underline decoration-dotted underline-offset-4 hover:no-underline"
                href="imprint.html">Imprint</a
            >
        </p>
    </div>
</footer>
