<header class=" bg-brand min-w-full">    
    <div class="w-full md:w-3/4 md:px-16 grid grid-cols-[auto_auto] md:grid-cols-2 p-4 gap-4 ">
        <h1 class="self-center text-lg md:text-2xl font-semibold"><a href="index.html">Medieval Reception of the Roman Conquest of Jerusalem</a> </h1>
        <nav-bar class="md:hidden">
            <img src="burger-menu.svg" class="w-5"></img>
        </nav-bar>
        <nav-bar class="hidden md:flex items-center gap-x-4">
            <a class="hover:underline underline-offset-2" href="about.html">About</a>
            <a class="hover:underline underline-offset-2" href="database.html">Database</a>
            <!-- <div class="dropdown">
                <button class="dropbtn flex justify-between gap-2">Database 
                    <img src="down-arrow.svg" class="w-3">
                  </button>
                  <div class="dropdown-content rounded border-2 border-gray-500 top-8 shadow-md grid grid-cols-1 hidden">
                    <a class="hover:bg-slate-400" href="#">Passages</a>
                    <a class="hover:bg-slate-400" href="#">Works</a>
                    <a class="hover:bg-slate-400" href="#">Manuscripts</a>
                  </div>
            </div>             -->
        </nav-bar>
    </div>
    
</header>