---
import NavLink from "./nav-link.astro";
---

<header class="sticky top-0 bg-brandBrown min-w-full z-50">
    <div
        class="w-full p-4 md:px-16 grid grid-cols-[auto_auto] gap-4 md:gap-8 justify-between"
    >
        <h1
            class="text-brandRose self-center text-lg md:text-2xl font-semibold"
        >
            <NavLink href="/" class="text-brandPaleWhite"
                >Medieval Reception of the Roman Conquest of Jerusalem</NavLink
            >
        </h1>
        <nav-bar class="md:hidden">
            <button
                id="hamburger"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-brandPaleWhite rounded-lg md:hidden"
                aria-controls="navbar-default"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
            <!-- <button id="hamburger"><img src="/burger-menu.svg" class="w-10"></img></button>                       -->
        </nav-bar>

        <nav class="hidden md:flex items-center gap-x-4 text-brandPaleWhite">
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/passages">Passages</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/works">Works</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/mss">Manuscripts</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/institutions">Institutions</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/authors">Authors</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/keywords">Keywords</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/about">About</NavLink
            >
            <NavLink
                class="hover:underline underline-offset-4 hover:text-brandCaramel"
                href="/advanced-search">Advanced Search</NavLink
            >
        </nav>
    </div>
    <div id="nav-links" class="hidden rounded-sm grid grid-cols-1 p-5">
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/passages">Passages</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/works">Works</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/mss">Manuscripts</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/authors">Authors</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/keywords">Keywords</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/institutions">Institutions</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/about">About</NavLink
        >
        <NavLink
            class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite"
            href="/advanced-search">Advanced Search</NavLink
        >
    </div>

    <script src="../lib/menu.js"></script>
</header>
