---
import NavLink from "./nav-link.astro";
import logo from "../../public/assets/images/logo.svg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 bg-brand-800 min-w-full z-50">
  <div
    class="w-full p-4 md:px-8 grid grid-cols-[1fr_auto] gap-4 md:gap-8 justify-between"
  >
    <div class="flex items-center gap-x-4">
      <h1 class="text-brand-100 self-center text-lg md:text-2xl font-semibold">
        <NavLink href="/" class="text-brand-50 flex items-center gap-x-2"
          ><Image
            src={logo}
            alt=""
            width="60"
            height="60"
            loading="lazy"
          />Medieval Reception of the Roman Conquest of Jerusalem</NavLink
        >
      </h1>
    </div>
    <nav-bar class="lg:hidden">
      <button
        id="hamburger"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-brand-50 rounded-lg"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </nav-bar>

    <nav
      class="hidden lg:flex items-center gap-x-2 text-brand-50 text-lg font-semibold"
    >
    <ul class="flex items-start gap-x-8">
    
       <li class="relative group">
        <button class="flex gap-0.5 items-center" aria-haspopup="true"
          aria-expanded="false">Passages  
          <Icon aria-hidden="true" class="size-4.5 transition-transform group-hover:rotate-180" name="lucide:chevron-down" />
        </button>
 
        <div class="absolute left-0 top-full hidden w-48 bg-brand-800 rounded-md p-3 group-hover:grid">
          <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/passages">View all Passages</NavLink>
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/text-comparisons/jad_occurrence__1">Text comparison</NavLink
        >
       
        </div>
      </li>
     <li> <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/works">Works</NavLink>
      </li>
     <li> <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/manuscripts">Manuscripts</NavLink>
      </li>
     <li> <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/authors">Authors</NavLink>
      </li>
     <li> <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/biblical-refs">Biblical References</NavLink>
      </li>
     <li> <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/keywords">Keywords</NavLink>
      </li>
     
       
      <li class="relative group">
        <button class="flex gap-0.5 items-center" aria-haspopup="true"
          aria-expanded="false">Project  
          <Icon aria-hidden="true" class="size-4.5 transition-transform group-hover:rotate-180" name="lucide:chevron-down" />
        </button>
 
        <div class="absolute left-0 top-full hidden w-48 bg-brand-800 rounded-md p-3 group-hover:grid">
          <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/explore">Patterns</NavLink
        >
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/about">About the project</NavLink
        >
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/passages-network-2">Chronological Timeline</NavLink
        >
        </div>
      </li>
      
      <li>
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/advanced-search">Advanced Search</NavLink>
      </li>
    </ul>
    </nav>
  </div>
  <div id="nav-links" class="hidden rounded-xs grid grid-cols-1 p-5">
    <NavLink
      class="py-1 px-3 hover:text-brand-200 text-brand-50"
      href="/passages">Passages</NavLink
    >
    <NavLink class="py-1 px-3 hover:text-brand-200 text-brand-50" href="/works"
      >Works</NavLink
    >
    <NavLink
      class="py-1 px-3 hover:text-brand-200 text-brand-50"
      href="/manuscripts">Manuscripts</NavLink
    >
    <NavLink
      class="py-1 px-3 hover:text-brand-200 text-brand-50"
      href="/authors">Authors</NavLink
    >
     <NavLink
      class="py-1 px-3 hover:text-brand-200 text-brand-50"
      href="/biblical-refs">Biblical References</NavLink
    >
    <NavLink
      class="py-1 px-3 hover:text-brand-200 text-brand-50"
      href="/keywords">Keywords</NavLink
    >
    <NavLink class="py-1 px-3 hover:text-brand-200 text-brand-50" href="/about"
      >About</NavLink
    >
    <NavLink class="py-1 px-3 hover:text-brand-200 text-brand-50" href="/explore"
      >Patterns</NavLink
    >
    <NavLink
      class="py-1 px-3 hover:text-brand-200 text-brand-50"
      href="/advanced-search">Advanced Search</NavLink
    >
  </div>

  <script src="@/lib/menu.js"></script>
</header>
