
--- 
---
<header class="sticky top-0 bg-brandBrown min-w-full">    
    <div class="w-full p-4 md:px-16 grid grid-cols-[auto_auto] gap-4 md:gap-8 justify-between">

        <h1 class="text-brandRose self-center text-lg md:text-2xl font-semibold"><a href="/index.html">Medieval Reception of the Roman Conquest of Jerusalem</a> </h1>
        <nav-bar class="md:hidden">
            <button id="hamburger"><img src="/burger-menu.svg" class="w-10"></img></button>                      
        </nav-bar>
       

        <nav class="hidden md:flex items-center gap-x-4 text-brandPaleWhite">
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/passages.html">Passages</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/works.html">Works</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/mss.html">Manuscripts</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/">Authors</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/about.html">About</a>          
        </nav>

    </div>
    <div id="nav-links" class="hidden rounded-sm grid grid-cols-1 p-5">
                <a class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite" href="/passages.html">Passages</a>
                <a class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite" href="/works.html">Works</a>
                <a class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite" href="/mss.html">Manuscripts</a>
                <a class="py-1 px-3 hover:text-brandCaramel text-brandPaleWhite" href="/about.html">About</a>
              </div>  
    <!-- <script>
        document.querySelector("#hamburger").addEventListener("click", () => {
            document.querySelector("#nav-links").classList.toggle("hidden");
        });

    </script> -->
    <script src="../scripts/menu.js"></script>
</header>