---
import NavLink from "./nav-link.astro";
import logo from "../../public/assets/images/logo.svg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<header class="md:sticky top-0 bg-brand-800 min-w-full z-50">
  <div
    class="w-full p-3 md:px-8 grid grid-cols-[1fr_auto] gap-4 md:gap-8 justify-between"
  >
    <div class="flex items-center gap-x-4">
      <h1 class="text-brand-100 self-center font-semibold">
        <NavLink href="/" class="text-brand-50 flex items-center gap-x-2"
          ><Image
            src={logo}
            alt=""
            width="40"
            height="40"
            loading="lazy"
          /><span class="2xl:text-xl text-sm">The Roman Conquest of Jerusalem in Medieval Latin Texts </span></NavLink
        >
      </h1>
    </div>
    <nav-bar class="lg:hidden">
      <button
        id="hamburger"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-brand-50 rounded-lg"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </nav-bar>

    <nav
      class="hidden lg:flex items-center gap-x-2 text-brand-50 text-lg font-semibold"
    >
    <ul class="flex items-start gap-x-8">  
       
      <li class="relative group">
        <button class="flex gap-0.5 items-center" aria-haspopup="true"
          aria-expanded="false"><NavLink href="/data" class="text-white">Data</NavLink>  
          <Icon aria-hidden="true" class="size-4.5 transition-transform group-hover:rotate-180" name="lucide:chevron-down" />
        </button>
 
        <div class="absolute left-0 top-full hidden w-48 bg-brand-800 rounded-md p-3 group-hover:grid">
          <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/passages">Passages</NavLink
        >
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/works">Works</NavLink
        >
         <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/authors">Authors</NavLink
        >
        <NavLink
         class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
         href="/data/manuscripts">Manuscripts</NavLink
       >
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/keywords">Keywords</NavLink
        >
         <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/clusters">Clusters</NavLink
        >
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/liturgical-refs">Liturgical references</NavLink
        >
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/data/biblical-refs">Biblical references</NavLink
        >
        
        </div>
      </li>
     <li class="relative group">
        <button class="flex gap-0.5 items-center" aria-haspopup="true"
          aria-expanded="false"><NavLink href="/tools" class="text-white">Tools </NavLink> 
          <Icon aria-hidden="true" class="size-4.5 transition-transform group-hover:rotate-180" name="lucide:chevron-down" />
        </button>
 
        <div class="absolute left-0 top-full hidden w-48 bg-brand-800 rounded-md p-3 group-hover:grid">
        
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/tools/dashboard">Dashboard</NavLink
        >
        <NavLink
        class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
        href="/tools/explore">Patterns</NavLink
      >
         <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/tools/text-comparisons">Text comparison</NavLink
        >
         <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/tools/ai-graph">AI text comparison</NavLink
        >
          <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/noske-search">Linguistic search</NavLink
        >
        </div>
      </li>
       <li class="relative group">
        <button class="flex gap-0.5 items-center" aria-haspopup="true"
          aria-expanded="false">About  
          <Icon aria-hidden="true" class="size-4.5 transition-transform group-hover:rotate-180" name="lucide:chevron-down" />
        </button>
 
        <div class="absolute left-0 top-full hidden w-48 bg-brand-800 rounded-md p-3 group-hover:grid">
          <NavLink
            class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
            href="/about/project">About the project</NavLink
          >
          <NavLink
            class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
            href="/about/technical">Technical realisation</NavLink
          >
          <NavLink
            class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
            href="/about/oai-pmh">OAI-PMH Interface</NavLink
          >
           <NavLink
            class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
            href="/about/faqs">FAQs</NavLink
          >
        </div>
      </li>      
      
      
      <li>
        <NavLink
          class="hover:underline underline-offset-4 hover:text-brand-200 p-2"
          href="/advanced-search" reload>Advanced Search</NavLink>
      </li>
    </ul>
    </nav>
  </div>
  <div id="nav-links" class="hidden rounded-xs grid grid-cols-1 p-5">
    <div class="space-y-1">
      <ul class="space-y-2">
        <header class="text-brand-300 font-semibold">Datasets</header>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/passages">Passages</NavLink
          >
        </li>    
        <li>
          <NavLink class="px-3 text-brand-50" href="/data/works"
                >Works</NavLink
              >
        </li>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/manuscripts">Manuscripts</NavLink
          >
        </li>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/authors">Authors</NavLink
          >
        </li>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/biblical-refs">Biblical References</NavLink
              >
        </li>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/liturgical-refs">Liturgical References</NavLink
          >
        </li>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/keywords">Keywords</NavLink
          >
        </li>
        <li>
          <NavLink
            class="px-3 text-brand-50"
            href="/data/clusters">Clusters</NavLink
          >
        </li>
      </ul>
      <ul class="space-y-2">
        <header class="text-brand-300 font-semibold">Tools</header>
        <li>
          <NavLink
                class="px-3 text-brand-50"
                href="/tools/ai-graph">Text comparison</NavLink
              >
        </li>
        <li>
          <NavLink
                class="px-3 text-brand-50"
                href="/tools/ai-graph">AI similarity graph</NavLink
              >
        </li>
    <li>
      <NavLink class="px-3 text-brand-50" href="/tools/explore"
      >Patterns</NavLink
      >
    </li>
    
    <li>
      <NavLink
        class="px-3 text-brand-50"
        href="/advanced-search" reload>Advanced Search</NavLink
      >
    </li>
      </ul>
      <ul class="space-y-2">
        <header class="text-brand-300 font-semibold">About</header>
        <li>
           <NavLink class="px-3 text-brand-50" href="/about/project"
              >Project</NavLink
            >
        </li>
        <li>
           <NavLink class="px-3 text-brand-50" href="/about/technical"
              >Technical implementation</NavLink
            >
        </li>
        <li>
           <NavLink class="px-3 text-brand-50" href="/about/faqs"
              >FAQs</NavLink
            >
        </li>
    
      </ul>
    </div>
    
   
   
    
  </div>

  <script>
 document.addEventListener("click", (event) => {
	const target = event.target as HTMLElement;
	const hamburger = target.closest("#hamburger");

	if (!hamburger) return;

	console.log("Hamburger clicked");

	const navLinks = document.querySelector("#nav-links");
	navLinks?.classList.toggle("hidden");
});
  </script>
</header>
