<footer class="bg-brandBrown text-brandPaleWhite">
    <div class="flex justify-center">
        <p>© Copyright OEAW |  <a class="underline decoration-dotted" href="imprint.html">Imprint</a></p>
    </div>
</footer>