
--- 
---
<header class="sticky top-0 bg-brandBrown min-w-full">    
    <div class="w-full md:px-16 grid grid-cols-[auto_auto] md:grid-cols-auto p-4 gap-4 justify-between">
        <h1 class="text-brandRose self-center text-lg md:text-2xl font-semibold"><a href="/index.html">Medieval Reception of the Roman Conquest of Jerusalem</a> </h1>
        <nav-bar class="md:hidden">
            <button id="hamburger"><img src="/burger-menu.svg" class="w-5"></img></button> 
            <div id="nav-links" class="hidden rounded-sm border border-brandCaramel grid grid-cols-1">
                <a class="py-1 px-3 hover:bg-brandCaramel text-brandCaramel hover:text-brandBrown" href="/passages.html">Passages</a>
                <a class="py-1 px-3 hover:bg-brandCaramel text-brandCaramel hover:text-brandBrown" href="/works.html">Works</a>
                <a class="py-1 px-3 hover:bg-brandCaramel text-brandCaramel hover:text-brandBrown" href="/mss.html">Manuscripts</a>
              </div>           
        </nav-bar>
       

        <nav class="hidden md:flex items-center gap-x-4 text-brandPaleWhite">
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="../passages.html">Passages</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="../works.html">Works</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="../mss.html">Manuscripts</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/">Authors</a>
            <a class="hover:underline underline-offset-4 hover:text-brandCaramel" href="/about.html">About</a>          
        </nav>

    </div>
    <!-- <script>
        document.querySelector("#hamburger").addEventListener("click", () => {
            document.querySelector("#nav-links").classList.toggle("hidden");
        });

    </script> -->
    <script src="../scripts/menu.js"></script>
</header>