<script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollToTopBtn = document.getElementById("scrollToTop");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 300 && scrollToTopBtn) {
        scrollToTopBtn.classList.remove("hidden");
      } else if (scrollToTopBtn) {
        scrollToTopBtn.classList.add("hidden");
      }
    });

    if (scrollToTopBtn) {
      scrollToTopBtn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    }
  });
</script>

<button
  id="scrollToTop"
  class="fixed w-12 h-12 bottom-14 md:bottom-30 right-4 md:right-30 bg-brand-500/80 text-white p-3 rounded-full text-2xl hover:bg-brand-600 focus:outline-none focus:ring-2 focus:ring-brand-400 active:bg-brand-700 shadow-lg backdrop-blur-sm transition-all duration-300 transform hover:scale-110 hidden z-50"
  aria-label="Scroll to top"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 mx-auto"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
  </svg>
</button>
