---
import { Icon } from "astro-icon/components";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollToTopBtn = document.getElementById("scrollToTop");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 300 && scrollToTopBtn) {
        scrollToTopBtn.classList.remove("hidden");
      } else if (scrollToTopBtn) {
        scrollToTopBtn.classList.add("hidden");
      }
    });

    if (scrollToTopBtn) {
      scrollToTopBtn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    }
  });
</script>

<button
  id="scrollToTop"
  class="fixed bottom-14 right-4 md:right-14 p-3 rounded-full bg-brand-500/80 text-white hidden z-50 hover:bg-brand-600"
  aria-label="Scroll to top"
>
  <Icon name="lucide:arrow-up" class="w-6 h-6" />
</button>
