---
import PageLayout from "../../layouts/page-layout.astro";
import { getCollection } from "astro:content";


// make a function to read the collection; 'export' make the function available for Astro'S static site generation. 

export async function getStaticPaths() {
    // 1) Use getCollection to fetch the json file
    const passages = await getCollection("passages")
    return passages.map(occurence => {
        return { params: {id: occurence.id},
                props: {data: occurence.data}}
   })
}

const { data: passage } = Astro.props;
---
<PageLayout>
   <div>
    <article class="border-2 rounded-md border-brand900 bg-brand100 w-3/4 grid grid-cols-1 mx-auto p-5 my-3">
        <h1 class="text-xl py-3 mx-auto">{passage.id}</h1>
        <dl class="grid grid-cols-2 gap-2 text-xs">
            
            <dt>Passage:</dt>
            <dd>{passage.passage}</dd>            
            <dt>Author:</dt>
            <dd>{passage.Author[0]?.value ?? 'N/A'}</dd>
           
            <dt>Work:</dt>
            <dd>{passage.work[0]?.name ?? 'N/A'}</dd>
            
            
            <dt>Manuscripts:</dt>
            <!-- this is an array - need to call .map to return an array of strings with the jad_id; outside the .map call .join() -->
            <dd>{passage.manuscripts?.map((ms => {
                return ms.name.value
                })).join(', ')
            }</dd>
            <dd>{passage.biblical_references?.map((reference => {
                return reference.value
                })).join(', ')
            }</dd>
           
        </dl>
       

</article>

   </div>
</PageLayout>